<!-- Name:       Li Gao  -->
<!-- Student ID: 1155084 -->

{% extends "staffbase.html" %}

{% block title %}
Loan Book -
{% endblock %}



{% block content %}

<h3 style="color:SlateBlue;">Add Loan</h3>
<hr />

<form id="survey" name="survey" action="/staff/loan/add" method="post">

    <!-- borrowers is the variable passed in listing borrowers -->
    <!-- drop down box of borrowers -->
    <!-- name for the borrower dropdown borrower should be  borrower -->
    <label style="font-weight: bold; color:rgb(19, 83, 156); font-size: 17px" for="borrower">All borrowers in our library</label>
    <select name="borrower" id="borrower">
        <option value="0" selected="selected">Please select one borrower below</option>
        {% for borrower in borrowers %}
        <option value="{{borrower[0]}}">{{borrower[1] + " " + borrower[2] + ", BID: " + borrower[0]|string}}</option>
        {% endfor %}
    </select>
    <!-- Table of borrowers or selected borrower -->
    <table style="width:40%; border: 1px solid black;" class ="table table-striped table-hover">
        <thead style="background-color: #96D4D4;">
            <tr style="color:rgb(7, 0, 0)">
                <th scope="col">Borrower ID (BID)</th>
                <th scope="col">First Name</th>
                <th scope="col">Family Name</th>
                <th scope="col">Date of Birth</th>
            </tr>
        </thead>
        <tbody>
            {% for borrower in borrowers %}
            <tr>
                {% for entry in borrower %}
                    {% if loop.index0 < 4 %}
                    <td>{{entry}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- books is the variable passed in listing available books -->
    <!-- drop down box of available books -->
    <!-- name for the book dropdown should be book-->
    <label style="font-weight: bold; color:rgb(19, 83, 156); font-size: 17px" for="book">Available books in our library</label>
    <select name="book" id="book">
        <option value="0" selected="selected">Please select one book from below</option>
        {% for book in books %}
        <option value="{{book[0]}}">{{book[0]|string + ", " + book[4]}}</option>
        {% endfor %}
    </select>

    <!-- Table of available books or selected book -->
    <table style="width:70%; border: 1px solid black;" class ="table table-striped table-hover">
        <thead style="background-color: #96D4D4;">
            <tr style="color:rgb(12, 0, 0)">
                <th scope="col">BookCopyID</th>
                <th scope="col">Format</th>
                <th scope="col">Name</th>
                <th scope="col">Author</th>
                <th scope="col">Category</th>
                <th scope="col">Year</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                {% for entry in book %}
                    {% if loop.index0 != 1 and loop.index0 != 3 and loop.index0 != 8%}
                    <td>{{entry}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- loandate is the variable passed in containing the current date -->
    <!--  hidden input field set to the current date -->
    <!-- name for the hidden field with date should be loandate -->
    <label for="loandate" hidden>Indicated loan start date</label>    
    <input name="loandate" id="loandate" type="date" value="{{loandate}}" hidden/>

    <p style="font-weight: bold; color:rgb(19, 83, 156); font-size: 17px">Loan start date: <ins style="color:rgb(53, 47, 45);">{{loandate}}</ins></p>

    <!-- URL for submission (action) of form should be loan/add -->
    <button id="btn" style="font-size: 18px; padding: 2px; background: rgb(19, 83, 156); color: white">Submit the loan</button>

</form>

<br />

<script>
    const btn = document.querySelector('#btn');
    const bor = document.querySelector('#borrower')
    const boo = document.querySelector('#book')
    const dat = document.querySelector('#loandate')
    btn.onclick = (event) => { 
        // show the selected index
        if(bor.selectedIndex == 0)
        {
            event.preventDefault();
            alert("Oops! Please select a borrower and try again!");
        }
        else if (boo.selectedIndex == 0)
        {
            event.preventDefault();
            alert("Oops! Please select a book and try again!");
        }
        else
        {
            alert("Cool! Your loan has been successfully placed! \n" + bor.options[bor.selectedIndex].text + " borrowed \"" + boo.options[boo.selectedIndex].text + "\" on " + dat.value);
        }
    };
</script>


{% endblock %}