<!-- Name:       Li Gao  -->
<!-- Student ID: 1155084 -->

{% extends "basebooklist.html" %}

{% block navigation %}
<li>
    <a>Book</a>
    <ul>
        <a href="{{ url_for('staff_listbooks') }}">All books</a>
        <a href="{{ url_for('staff_searchbooks') }}">Search books</a>
    </ul>  
</li>
<li>
    <a>Members</a>
    <ul>
        <a href="{{ url_for('searchborrowers') }}">Search borrowers</a>
    </ul>  
</li>
<li>
    <a>Loan</a>
    <ul>
        <a href="{{ url_for('loanbook') }}">Loan books</a>
        <a href="{{ url_for('returnbook') }}">Return books</a>
    </ul>  
</li>
<li>
    <a>Summary</a>
    <ul>
        <a href="{{ url_for('overduesummary') }}">Overdue</a>
        <a href="{{ url_for('loansummary') }}">Loan</a>
        <a href="{{ url_for('currentloans') }}">Borrower</a>
    </ul>  
</li>
{% endblock %}

{% block portal %}
    <a href="{{ url_for('staff_home') }}">Staff</a>
{% endblock %}