<!-- Name:       Li Gao  -->
<!-- Student ID: 1155084 -->

{% extends "baseborrower.html" %}

{% block title %}
Search Borrower -
{% endblock %}

{% block content_borrower_search %}
<h4 style="color:SlateBlue;">Search for borrowers in our library</h4>
<hr />

<form class="form-inline" id="searchborrower" name="searchborrower" action="/staff/listborrowers" method="post">
    <div class="form-group">
        <label for="firstname" style="color:SlateBlue;">First Name:</label>
        <input type="text" class="form-control" id="firstname" placeholder="Enter first name(s)" name="firstname" style="width:50%" value="{{firstname}}">
    </div>
    <br>
    <div class="form-group">
        <label for="lastname" style="color:SlateBlue;">Last Name:</label>
        <input type="text" class="form-control" id="lastname" placeholder="Enter last name" name="lastname" style="width:50%" value="{{lastname}}">
    </div>
    <br>
    <div class="form-group">
        <label for="borrowerid" style="color:SlateBlue;">Library Card ID (Borrower ID):</label>
        <input type="text" class="form-control" id="borrowerid" placeholder="Enter library card ID (Borrower ID)" name="borrowerid" style="width:50%" value="{{borrowerid}}" onblur="validateborrowerid()">
    </div>
    <br>
    <button type="button" id="reset" style="font-size: 18px; padding: 2px; background: rgb(19, 83, 156); color: white" class="btn btn-default" onclick="resetForm()">Reset </button>
    <button type="submit" id="submit" style="font-size: 18px; padding: 2px; background: rgb(19, 83, 156); color: white" class="btn btn-default">Search</button>
</form>
<br>

<script>
    // Comment this part out to allow search without a keyword or Library Card ID

    //const btn = document.querySelector('#submit');
    //const firstname = document.querySelector('#firstname')
    //const lastname = document.querySelector('#lastname')
    const borrowerid = document.querySelector('#borrowerid')
    //btn.onclick = (event) => { 
        // show the selected index
        //if(firstname.value == "" && lastname.value == "" && borrowerid.value == "")
        //{
            //event.preventDefault();
            //alert("Oops! Please enter at least one value for a borrower's firstname, lastname or borrowerid");
        //}
    //};

    function validateborrowerid() {
        if (!/^\d+$/.test(borrowerid.value)) {
            alert("Borrower Id entered is non-digits. Please try again!");
            borrowerid.value = "";
        }
    }

    // Reset the values entered
    function resetForm() {
    document.getElementById("firstname").value = "";
    document.getElementById("lastname").value = "";
    document.getElementById("borrowerid").value = "";
  }
</script>
{% endblock %}