<!-- Name:       Li Gao  -->
<!-- Student ID: 1155084 -->

{% extends "basebooksearch.html" %}

{% block navigation %}
<li>
    <a>Book</a>
    <ul>
        <a href="{{ url_for('staff_listbooks') }}">All books</a>
        <a href="{{ url_for('staff_searchbooks') }}">Search</a>
    </ul>  
</li>
<li>
    <a>Borrowers</a>
    <ul>
        <a href="{{ url_for('searchborrowers') }}">Search</a>
        <a href="{{ url_for('addborrowers') }}">Add</a>
        <a href="{{ url_for('editborrowers') }}">Edit</a>
    </ul>  
</li>
<li>
    <a>Loan</a>
    <ul>
        <a href="{{ url_for('loanbook') }}">Loan books</a>
        <a href="{{ url_for('returnbook') }}">Return books</a>
    </ul>  
</li>
<li>
    <a>Report</a>
    <ul>
        <a href="{{ url_for('overduesummary') }}">Overdue books</a>
        <a href="{{ url_for('loansummary') }}">Loan summary</a>
        <a href="{{ url_for('currentloans') }}">Borrower summary</a>
    </ul>  
</li>
{% endblock %}

{% block portal %}
    <a href="{{ url_for('staff_home') }}">Staff</a>
{% endblock %}

{% block postcontent %}
action="/staff/search"
{% endblock %}