<!-- Name:       Li Gao  -->
<!-- Student ID: 1155084 -->

{% extends "base.html" %}

{% block title %}
Staff Portal -
{% endblock %}

{% block navigation %}
<li>
    <a>Search</a>
    <ul>
        <a href="{{ url_for('staff_searchbooks') }}">Book</a>
        <a href="{{ url_for('searchborrowers') }}">Borrower</a>
    </ul>  
</li>
<li>
    <a>Loan</a>
    <ul>
        <a href="{{ url_for('loanbook') }}">Loan Book</a>
    </ul>  
</li>
<li>
    <a>Summary</a>
    <ul>
        <a href="{{ url_for('staff_listbooks') }}">Book</a>
        <a href="{{ url_for('overduesummary') }}">Overdue</a>
        <a href="{{ url_for('loansummary') }}">Loan</a>
        <a href="{{ url_for('currentloans') }}">Borrower</a>
    </ul>  
</li>
{% endblock %}

{% block portal %}
    <a href="{{ url_for('staff_home') }}">Staff</a>
{% endblock %}