<!-- Name:       Li Gao  -->
<!-- Student ID: 1155084 -->

{% extends "staffbase.html" %}

{% block title %}
Overdue Summary -
{% endblock %}


{% block content %}
<!-- code in here to display a list of overdue books and borrower infos -->
<!-- overduesummary is the variable passed in containing list of loans -->

<h4 style="color:SlateBlue;">Overdue Summary - Overdued books and borrowers information</h4>
<table style="width:90%; border: 1px solid black;" class ="table table-striped table-hover">
    <thead style="background-color: #96D4D4;">
        <tr>
            <th scope="col">Borrower Names</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Book Copy ID</th>
            <th scope="col">Title</th>
            <th scope="col">Days on Loan</th>
        </tr>
    </thead>
    <tbody>
        {% set ns = namespace(id="") %}
        {% for entry in overduesummary %}
        <tr>
        {% if ns.id == entry[0] %}
            <td></td>
            <td></td>
        {% else %}
            <td>{{entry[1] + " " + entry[2]}}</td>
            <td>{{entry[3]}}</td>
            {% set ns.id = entry[0] %}
        {% endif %}
            <td>{{entry[4]}}</td>
            <td>{{entry[5]}}</td>
            <td>{{entry[6]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}