<!-- Name:       Li Gao  -->
<!-- Student ID: 1155084 -->

{% extends "base.html" %}

{% block title %}
Staff Portal -
{% endblock %}

{% block navigation %}
<li>
    <a>Book</a>
    <ul>
        <a href="{{ url_for('staff_listbooks') }}">All Books</a>
        <a href="{{ url_for('staff_searchbooks') }}">Search</a>
    </ul>  
</li>
<li>
    <a>Borrowers</a>
    <ul>
        <a href="{{ url_for('searchborrowers') }}">Search</a>
        <a href="{{ url_for('viewaddborrowers') }}">Add</a>
        <a href="{{ url_for('vieweditborrowers') }}">Edit</a>
    </ul>  
</li>
<li>
    <a>Loan</a>
    <ul>
        <a href="{{ url_for('loanbook') }}">Loan Books</a>
        <a href="{{ url_for('returnbook') }}">Return Books</a>
    </ul>  
</li>
<li>
    <a>Report</a>
    <ul>
        <a href="{{ url_for('overduesummary') }}">Overdue Summary</a>
        <a href="{{ url_for('loansummary') }}">Loan Summary</a>
        <a href="{{ url_for('currentloans') }}">Borrower Summary</a>
    </ul>  
</li>
{% endblock %}

{% block portal %}
    <a href="{{ url_for('staff_home') }}">Staff</a>
{% endblock %}