<!-- Name:       Li Gao  -->
<!-- Student ID: 1155084 -->

{% extends "basebooksearch.html" %}

{% block title %}
{% endblock %}

{% block header %}
{% endblock %}

{% block navigation %}
<li><a href="{{ url_for('staff_listbooks') }}">List Books</a></li>
<li><a href="{{ url_for('staff_searchbooks') }}">Search Books</a></li>
<li><a href="{{ url_for('listborrowers') }}">List Borrowers</a></li>
<li><a href="{{ url_for('loanbook') }}">Loan Book</a></li>
<li><a href="{{ url_for('currentloans') }}">Current Loans</a></li>
<li><a href="{{ url_for('staff_home') }}">Staff Portal</a></li>
<br>
{% endblock %}

{% block postcontent %}
<form class="form-inline" id="searchbook" name="searchbook" action="/staff/search" method="post">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title" name="title" style="width:50%">
    </div>
    <div class="form-group">
        <label for="author">Author:</label>
        <input type="text" class="form-control" id="author" placeholder="Enter author" name="author" style="width:50%">
    </div>
    <br>
    <button type="submit" id="submit" style="font-size: 18px; padding: 2px; background: rgb(19, 83, 156); color: white" class="btn btn-default">Search</button>
</form>
{% endblock %}