<!-- Name:       Li Gao  -->
<!-- Student ID: 1155084 -->

{% extends "basebooklist.html" %}

{% block navigation %}
<li><a href="{{ url_for('staff_listbooks') }}">Book List</a></li>
<li><a href="{{ url_for('staff_searchbooks') }}">Book Search</a></li>
<li><a href="{{ url_for('searchborrowers') }}">Borrower Search</a></li>
<li><a href="{{ url_for('loanbook') }}">Loan Book</a></li>
<li><a href="{{ url_for('loansummary') }}">Loan Summary</a></li>
<li><a href="{{ url_for('currentloans') }}">Borrower Summary</a></li>
<li><a href="{{ url_for('staff_home') }}">Staff Portal</a></li>
<br>
{% endblock %}