<!-- Name:       Li Gao  -->
<!-- Student ID: 1155084 -->

{% extends "staffbase.html" %}

{% block title %}
Loan Summary -
{% endblock %}


{% block content %}
<!-- code in here to display a list of loans -->
<!-- loanlist is the variable passed in containing list of loans -->

<h4 style="color:SlateBlue;">Loan Summary - Most borrowed books</h4>
<table style="width:90%; border: 1px solid black;" class ="table table-striped table-hover">
    <thead style="background-color: #96D4D4;">
        <tr>
            <th scope="col">Borrowed Times</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Category</th>
            <th scope="col">Year</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in loansummary %}
        <tr>
            {% for field in entry %}
            <td>{{field}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}