<!-- Name:       Li Gao  -->
<!-- Student ID: 1155084 -->

{% extends "baseborrower.html" %}

{% block title %}
Edit/Add Borrower -
{% endblock %}

{% block content_borrower_edit %}
<h4 style="color:SlateBlue;">Edit or Add borrowers in our library</h4>
<hr />

<form class="form-inline" id="editborrower" name="editborrower" action="/staff/editborrowers" method="post">
    <div class="row" style = "border: 1px solid SlateBlue; background-color: rgb(255, 246, 205);">
        <fieldset style="float: left; margin: 5px 0px 5px 2%; width: 25%;">
            <div class="form-group">
                <label for="firstname" style="color:SlateBlue;">First Name:</label>
                <input type="text" class="form-control" id="firstname" placeholder="Enter first name(s)" name="firstname" style="width:90%" value="{{firstname}}" onblur="validateTextfield('firstname', 45)">
            </div>
            <div class="form-group">
                <label for="lastname" style="color:SlateBlue;">Last Name:</label>
                <input type="text" class="form-control" id="lastname" placeholder="Enter last name" name="lastname" style="width:90%" value="{{lastname}}" onblur="validateTextfield('lastname', 45)">
            </div>
        </fieldset>
        <fieldset style="float: left; margin: 5px 0px 5px; width: 25%;">
            <div class="form-group">
                <label for="dob" style="color:SlateBlue;">Date of Birth:</label>
                <input type="date" class="form-control" id="dob" placeholder="Enter date of birth" name="dob" style="width:90%" value="{{dob}}" onblur="validateDate()">
            </div>
            <div class="form-group">
                <label for="housenum" style="color:SlateBlue;">House Number:</label>
                <input type="text" class="form-control" id="housenum" placeholder="Enter House Number" name="housenum" style="width:90%" value="{{housenum}}" onblur="validateTextfield('housenum', 10)">
            </div>
        </fieldset>
        <fieldset style="float: left; margin: 5px 0px 5px; width: 25%;">
            <div class="form-group">
                <label for="street" style="color:SlateBlue;">Street:</label>
                <input type="text" class="form-control" id="street" placeholder="Enter Street" name="street" style="width:90%" value="{{street}}" onblur="validateTextfield('street', 20)">
            </div>
            <div class="form-group">
                <label for="town" style="color:SlateBlue;">Town:</label>
                <input type="text" class="form-control" id="town" placeholder="Enter Town" name="town" style="width:90%" value="{{town}}" onblur="validateTextfield('town', 25)">
            </div>
        </fieldset>
        <fieldset style="float: left; margin: 5px 0px 5px; width: 23%;">
            <div class="form-group">
                <label for="city" style="color:SlateBlue;">City:</label>
                <input type="text" class="form-control" id="city" placeholder="Enter City" name="city" style="width:90%" value="{{city}}" onblur="validateTextfield('city', 25)">
            </div>
            <div class="form-group">
                <label for="postcode" style="color:SlateBlue;">Postcode:</label>
                <input type="text" class="form-control" id="postcode" placeholder="Enter Postcode" name="postcode" style="width:50%" value="{{postcode}}" onblur="validatePostcode()">
            </div>
        </fieldset>
    </div>
    <br>
    <div class="form-group">
        <label for="borrowerid" style="color:SlateBlue;">Library Card ID (Borrower ID):</label>
        <input type="text" class="form-control" id="borrowerid" placeholder="Enter the library card ID of the borrower who you want to edit, leave it blank if you want to add a new one" name="borrowerid" style="width:60%" value="{{borrowerid}}">
    </div>
    <br>
    <button type="button" id="reset" style="font-size: 18px; padding: 2px; background: rgb(19, 83, 156); color: white; width: 150px;" class="btn btn-default" onclick="resetForm()">Reset </button>
    <button type="submit" id="submit" style="font-size: 18px; padding: 2px; background: rgb(19, 83, 156); color: white; width: 150px;" class="btn btn-default">Add or Edit</button>
    <b for="errormessage" style="color:rgb(205, 90, 90);">{{message}}</b>
</form>
<br>
<form action="{{ url_for('editborrowers') }}">
    <button type="submit" style="font-size: 18px; padding: 2px; background: rgb(19, 83, 156); color: white" class="btn btn-default">Edit or Add Again</button>
</form>


<table id="myTable">
<tr>
    <td>Column 1</td>
    <td>Column 2</td>
    <td>Column 3</td>
    <td>
    <button onclick="editRow(this)">Edit</button>
    </td>
</tr>
<tr>
    <td>Data 1</td>
    <td>Data 2</td>
    <td>Data 3</td>
    <td>
    <button onclick="editRow(this)">Edit</button>
    </td>
</tr>
<tr>
    <td>Data 4</td>
    <td>Data 5</td>
    <td>Data 6</td>
    <td>
    <button onclick="editRow(this)">Edit</button>
    </td>
</tr>
</table>
<br>

<script>
    const btn = document.querySelector('#submit');
    const borrowerid = document.querySelector('#borrowerid')
    const firstname = document.querySelector('#firstname')
    const lastname = document.querySelector('#lastname')
    const dob = document.querySelector('#dob')
    const housenum = document.querySelector('#housenum');
    const street = document.querySelector('#street')
    const town = document.querySelector('#town')
    const city = document.querySelector('#city')
    const postcode = document.querySelector('#postcode')

    function validateDate() {
        let today = new Date();
        let enteredDate = new Date(dob.value);
        if (enteredDate > today) {
            alert("Date of birth cannot be in the future");
            dob.value = "";
        }
    }

    function validateTextfield(id, length) {
        let field = document.getElementById(id);
        if (field.value.length > length) {
            alert("Value entered cannot be longer than " + length + " digits. Please try again!");
            field.value = "";
        }
    }

    function validatePostcode() {
        if (!/^\d+$/.test(postcode.value) || postcode.value.length > 4) {
            alert("Postcode entered is either non-digits or longer than 4 digits. Please try again!");
            postcode.value = "";
        }
    }

    btn.onclick = (event) => { 
        // show the selected index
        if(borrowerid.value == "")
        {
            // add mode
            if(firstname.value == "" || lastname.value == "" || dob.value == ""){
                event.preventDefault();
                alert("Please enter firstname, lastname and date of birth for the new borrower");
            }
        } else {
            // edit mode
            if(firstname.value == "" && lastname.value == "" && street.value == "" && city.value == "" && postcode.value == "" && town.value == "" && dob.value == "" && housenum.value == ""){
                event.preventDefault();
                alert("No new values are entered for editing the borrower. Please try again!");
            }
        }
    };

    function resetForm() {
        // get all form elements
        form = document.getElementById("editborrower");
        let elements = form.elements;
        
        // loop through all form elements
        for (let i = 0; i < elements.length; i++) {
            let element = elements[i];

            // check the type of form element
            switch (element.type) {
            case "text":
            case "date":
            case "textarea":
            case "select-one":
                element.value = "";
                break;
            case "checkbox":
            case "radio":
                element.checked = false;
                break;
            }
        }
    }

    function editRow(button) {
        let tr = button.parentNode.parentNode;
        let cells = tr.cells;
        for (let i = 0; i < cells.length - 1; i++) {
            let cell = cells[i];
            let input = document.createElement("input");
            input.value = cell.innerHTML;
            cell.innerHTML = "";
            cell.appendChild(input);
        }
        button.innerHTML = "Save";
        button.onclick = function() {
            for (let i = 0; i < cells.length - 1; i++) {
            let cell = cells[i];
            cell.innerHTML = cell.firstChild.value;
            }
            button.innerHTML = "Edit";
            button.onclick = function() {
            editRow(button);
            };
        };
    }
</script>
{% endblock %}