<!-- Name:       Li Gao  -->
<!-- Student ID: 1155084 -->

{% extends "base.html" %}

{% block title %}
Staff Portal -
{% endblock %}

{% block navigation %}
<li><a href="{{ url_for('staff_listbooks') }}">List Books</a></li>
<li><a href="{{ url_for('staff_searchbooks') }}">Search Books</a></li>
<li><a href="{{ url_for('listborrowers') }}">Search Borrowers</a></li>
<li><a href="{{ url_for('loanbook') }}">Loan Book</a></li>
<li><a href="{{ url_for('currentloans') }}">Current Loans</a></li>
<li><a href="{{ url_for('staff_home') }}">Staff Portal</a></li>
<br>
{% endblock %}